# files and folders generated with the Rstudio project
.Rproj.user
.Rhistory
.RData
.Ruserdata

# to use `renv` installed by Conda
renv/activate.R

# MacOS generating files
**/.DS_Store

# temporary scripts
tmp.R
tmp.Rmd
